<?xml version="1.0" encoding="utf-8"?>
<!--
  NOTICE:

    For five (5) years from 1/21/2020 the United States Government is granted for itself and others acting on its behalf a paid-up, nonexclusive, irrevocable worldwide license in this data to reproduce, prepare derivative works, and perform 
    publicly and display publicly, by or on behalf of the Government. There is provision for the possible extension of the term of this license. Subsequent to that period or any extension granted, the United States Government is granted for itself
    and others acting on its behalf a paid-up, nonexclusive, irrevocable worldwide license in this data to reproduce, prepare derivative works, distribute copies to the public, perform publicly and display publicly, and to permit others to do so. The
    specific term of the license can be identified by inquiry made to National Technology and Engineering Solutions of Sandia, LLC or DOE.
     
    NEITHER THE UNITED STATES GOVERNMENT, NOR THE UNITED STATES DEPARTMENT OF ENERGY, NOR NATIONAL TECHNOLOGY AND ENGINEERING SOLUTIONS OF SANDIA, LLC, NOR ANY OF THEIR EMPLOYEES, MAKES ANY WARRANTY, 
    EXPRESS OR IMPLIED, OR ASSUMES ANY LEGAL RESPONSIBILITY FOR THE ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY INFORMATION, APPARATUS, PRODUCT, OR PROCESS DISCLOSED, OR REPRESENTS THAT ITS USE WOULD
    NOT INFRINGE PRIVATELY OWNED RIGHTS.
     
    Any licensee of this software has the obligation and responsibility to abide by the applicable export control laws, regulations, and general prohibitions relating to the export of technical data. Failure to obtain an export control license or other 
    authority from the Government may result in criminal liability under U.S. laws.
 
                                             (End of Notice)
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PeakMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GammaMatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <applicationSettings>
    <PeakMap.Properties.Settings>
      <setting name="LIBRARY" serializeAs="String">
        <value>C:\ICRP07\DATA\ICRP-07.RAD</value>
      </setting>
      <setting name="CHAINS" serializeAs="String">
        <value>C:\ICRP07\DATA\ICRP-07.NDX</value>
      </setting>
      <setting name="LOWERELIMT" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="UPPERELIMIT" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="LINES" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ENERGY,Energy,</string>
            <string>YIELD,Yield (%),</string>
            <string>TYPE,Type,</string>
            <string>EFFICIENCY,Efficiency (%),E3</string>
            <string>AREA,Area (cts),E3</string>
            <string>MDA,MDA (cts),E3</string>
            <string>MATCHED,Matched,</string>
            <string>PEAKNUM,Peak No.,F0</string>
            <string>DIFFERENCE,Diff,</string>
            <string>RELACTIVITY,Rel. Acitvity,E3</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CHAINPARENT" serializeAs="String">
        <value>Th-232,Np-237,U-238,U-235</value>
      </setting>
      <setting name="NUCLIDES" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NAME,Name,</string>
            <string>SCORE,Score,</string>
            <string>NUCLIDE,Nuclide,</string>
            <string>HALF_LIFE,Half Life,</string>
            <string>HALF_LIFE_UNIT,Unit,</string>
            <string>ENERGY,Energy,</string>
            <string>YIELD,Yield (%),</string>
            <string>TYPE,Type,</string>
            <string>DIFFERENCE,Diff,</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="NUCLIDESLIBRARY" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NAME,Name,</string>
            <string>NUCLIDE,Nuclide,</string>
            <string>HALF_LIFE,Half Life,</string>
            <string>HALF_LIFE_UNIT,Unit,</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LOWERYIELD" serializeAs="String">
        <value>1E-09</value>
      </setting>
      <setting name="LINESLIBRARY" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ENERGY,Energy,</string>
            <string>YIELD,Yield (%),</string>
            <string>TYPE,Type,</string>
            <string>NAME,Name,</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PEAKS" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ID,No.,F0</string>
            <string>ENERGY,Energy,</string>
            <string>FWHM,FWHM,</string>
            <string>AREA,Area,E3</string>
            <string>CONTINUUM,Continuum,E3</string>
            <string>MATCHNAME,Id,</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PEAKSLIBRARY" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ID,No.,F0</string>
            <string>MATCHNAME,Id,</string>
          </ArrayOfString>
        </value>
      </setting>
    </PeakMap.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>