<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Peak Map" Language="1033" Version="1.3.7.4" Manufacturer="Sandia National Laboratories" UpgradeCode="2C2C7DEE-1C94-4B00-AA9B-3B6D07CFE90C" InstallerVersion="200">
		
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
		<Media Id="1" Cabinet="PeakMap_Setup.cab" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="SQLiteComponents" />
		</Feature>

	</Package>

	<Fragment>
			<StandardDirectory Id="ProgramFiles64Folder">
				<Directory Id="SNL" Name="Sandia National Laboratories">
					<Directory Id="INSTALLFOLDER" Name="Peak Map">
						<Directory Id="DIR_x64" Name="x64" />
						<Directory Id="DIR_x86" Name="x86" />
						<Directory Id="ManDir" Name="Manual" />
					</Directory>
				</Directory>
			</StandardDirectory>
			<StandardDirectory Id="ProgramMenuFolder">
				<Directory Id="AppProgramMenuFolder" Name="Peak Map" />
			</StandardDirectory>
		</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="B299A82B-B1B7-4A64-BF78-391D9BB017B4" Bitness="always64">
				<File Id="___var.PeakMapWPF.TargetPath_" Source="$(var.PeakMapWPF.TargetPath)" DiskId="1" KeyPath="yes" />
				<Shortcut Id="pgrmMenuSrtcut" Directory="AppProgramMenuFolder" Name="Peak Map" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" IconIndex="0" Advertise="yes" />
				<RemoveFolder Id="CleanUpShortcut" Directory="AppProgramMenuFolder" On="uninstall" />
			</Component>
			<Component Id="UsersManualComponent" Guid="04BDD1F7-79A5-4D53-9E36-89B9AA39E5D6" Bitness="always64">
				<File Id="UserManual" Name="UsersManual.pdf" DiskId="1" Source="$(var.SolutionDir)\Manual\UsersManual.pdf" />
				<Shortcut Id="UserManualSrtcut" Directory="AppProgramMenuFolder" Name="User's Manual" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
			</Component>
			<Component Id="Config" Guid="F1A672F2-C82B-4D6E-B68F-41C5CA825BA7" Bitness="always64">
				<File Id="___var.PeakMapWPF.TargetFileName_.config" Source="$(var.PeakMapWPF.TargetDir)\$(var.PeakMapWPF.TargetFileName).config" DiskId="1" KeyPath="yes" />
			</Component>
			<Component Id="CAMIOLibrary" Guid="06F4678A-9C1D-4781-90BC-1699B10B9196" Bitness="always64">
				<File Id="CAMIODLL" Name="CAMInputOutput.dll" DiskId="1" Source="$(var.PeakMapWPF.TargetDir)CamInputOutput.dll" KeyPath="yes" />
			</Component>
			<Component Id="PeakMapLibrary" Guid="E5755AD3-6136-4A7D-BDA5-E98FBFBDE16A" Bitness="always64">
				<File Id="PEAKMAPDLL" Name="PeakMap.dll" DiskId="1" Source="$(var.PeakMap.TargetDir)PeakMap.dll" KeyPath="yes" />
			</Component>
			<Component Id="data" Guid="4E4729C6-0256-4F8E-86BB-177D5FAD7028" Bitness="always64">
				<File Id="GammaDatabase" Name="GammaData.sqlite" DiskId="1" Source="$(var.PeakMapWPF.TargetDir)\GammaData.sqlite" KeyPath="yes" />
			</Component>
			<Component Id="ICRPSchema" Guid="BEF33394-B79E-4820-89B4-595F268FA744" Bitness="always64">
				<File Id="ICRPLibrary" Name="ICRPLibrary.xsd" DiskId="1" Source="$(var.PeakMapWPF.TargetDir)\ICRPLibrary.xsd" KeyPath="yes" />
			</Component>
			<Component Id="MatchesSchema" Guid="09130E76-8BBB-4BD0-8E34-B8428DD547DA" Bitness="always64">
				<File Id="MatchesSchemaFl" Name="MatchesSchema.xsd" DiskId="1" Source="$(var.PeakMapWPF.TargetDir)\MatchesSchema.xsd" KeyPath="yes" />
			</Component>
			<Component Id="License" Guid="1851EE13-F4A2-4727-BFB0-1613DCD420BB" Bitness="always64">
				<File Id="LicenseRTF" Name="LICENSE.rtf" DiskId="1" Source="$(var.PeakMapWPF.TargetDir)\LICENSE.rtf" KeyPath="yes" />
			</Component>
		</ComponentGroup>
			
		<ComponentGroup Id="SQLiteComponents">
			<Component Id="SQLite" Directory="INSTALLFOLDER" Guid="E071F60F-411C-4CA3-BC1A-0BB92A5E64EF" Bitness="always64">
				<File Id="SQLiteDLL" Name="System.Data.SQLite.dll" DiskId="1" Source="$(var.PeakMapWPF.TargetDir)System.Data.SQLite.dll" KeyPath="yes" />
			</Component>
			<Component Id="SQLite_x86" Directory="DIR_x86" Guid="12C91ADA-726E-4F27-BE49-AD229D61DC3D" Bitness="always64">
				<File Id="SQLliteInterop_x86" Name="SQLite.Interop.dll" Source="$(var.PeakMapWPF.TargetDir)x86\SQLite.Interop.dll" DiskId="1" />
			</Component>
			<Component Id="SQLite_x64" Directory="DIR_x64" Guid="9ADE4BAC-D925-4C24-AA58-8820D42059D3" Bitness="always64">
				<File Id="SQLliteInterop_x64" Name="SQLite.Interop.dll" Source="$(var.PeakMapWPF.TargetDir)x64\SQLite.Interop.dll" DiskId="1" />
			</Component>
		</ComponentGroup>
		<Icon Id="icon.ico" SourceFile="$(var.PeakMapWPF.ProjectDir)Views\icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

	</Fragment>
</Wix>
